body {
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: darkgreen;
  box-sizing: border-box;
}

.nav {
  height: 10vh;
  background-color: olive;
  border: 5px solid black;
  transition: 2s;
}

.nav:hover {
  background-color: black;
}

.wrap {
  width: 100%;
}

.firstSquare, .secondSquare {
  animation: spin 5s linear infinite;
  width: 10vw;
  height: 10vw;
  transform: rotate(120deg);
  background-color: red;
  border: 3px solid black;
}

.firstSquare {
  position: fixed;
  left: 5vh;
  bottom: 40vh;
}

.secondSquare {
  position: fixed;
  top: 15vh;
  left: 20vh;
}

.firstLine, .secondLine {
  width: 12vw;
  height: 3vh;
  animation: colors 5s linear infinite;
}

.firstLine {
  position: fixed;
  top: 40vh;
  right: 50vw;
  background-color: blue;
  border: 3px solid black;
}

.secondLine {
  position: fixed;
  top: 50vh;
  right: 50vw;
  background-color: blue;
  border: 3px solid black;
}

.circle {
  width: 120px;
  height: 120px;
  background-color: teal;
  border-radius: 50%;
  border: 3px solid black;
  position: fixed;
  top: 38vh;
  right: 38vw;
  transition: 2s;
}

.circle:hover {
  border: 3px dashed red;
  background-color: white;
}

.rectangle {
  animation: shake 5s linear infinite;
  width: 20vw;
  height: 74vh;
  background-color: white;
  border: 3px solid black;
  position: fixed;
  top: 20vh;
  right: 3vw;
}

.letters {
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  font-style: bold;
  font-size: 46px;
  position: fixed;
  top: 6vh;
  right: 6vw;
}

@keyframes shake {
  0% {
    transform: translateX(0)
  }

  90% {
    transform: translateX(0)
  }

  91% {
    transform: translateX(30px)
  }

  92% {
    transform: translateX(-30px)
  }

  93% {
    transform: translateX(30px)
  }

  94% {
    transform: translateX(-30px)
  }

  95% {
    transform: translateX(30px)
  }

  96% {
    transform: translateX(-30px)
  }

  97% {
    transform: translateX(30px)
  }

  98% {
    transform: translateX(-30px)
  }

  99% {
    transform: translateX(30px)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes spin {
  0% {
    transform: rotate(130deg)
  }

  20% {
    transform: rotate(110deg)
  }

  40% {
    transform: rotate(90deg)
  }

  60% {
    transform: rotate(70deg)
  }

  80% {
    transform: rotate(100deg)
  }

  100% {
    transform: rotate(130deg)
  }
}

@keyframes colors {
  0% {
    background-color: blue
  }

  20% {
    background-color: darkblue
  }

  40% {
    background-color: indigo
  }

  60% {
    background-color: violet
  }

  80% {
    background-color: darkblue;
  }

  100% {
    background-color: blue
  }
}

@media(min-width: 583px) and (max-width: 900px) {
  .firstSquare, .secondSquare {
    width: 17vw;
    height: 17vw;
  }

  .firstSquare {
    top: 41vh;
    left: 4vw;
  }

  .secondSquare {
    top: 15vh;
    left: 20vh;
  }

  .firstLine, .secondLine {
    width: 18vw;
    height: 2vh;
  }

  .firstLine {
    top: 76vh;
    left: 5vw;
  }

  .secondLine {
    top: 84vh;
    left: 5vw;
  }

  .circle {
    width: 15vw;
    height: 15vh;
    top: 73vh;
    left: 30vw;
  }

  .rectangle {
    width: 30vw;
    height: 74vh;
    background-color: #CC6666;
    top: 20vh;
    right: 3vw;
  }

  .letters {
    font-size: 40px;
    position: fixed;
    top: 4vh;
    right: 8vw;
  }
}

@media (max-width: 582px) {
  .nav {
    height: 4vh;
    border: 3px solid black;
  }

  .firstSquare, .secondSquare {
    transform: rotate(135deg);
    width: 12vw;
    height: 12vw;
    border: 2px solid black;
  }

  .firstSquare {
    top: 22vh;
    left: 22vw;
  }

  .secondSquare {
    top: 8vh;
    left: 36vw;
  }

  .firstLine, .secondLine {
    width: 26vw;
    height: 2vh;
  }

  .firstLine {
    top: 40vh;
    left: 18vw;
    border: 2px solid black;
  }

  .secondLine {
    top: 46vh;
    left: 18vw;
    border: 2px solid black;
  }

  .circle {
    width: 16vw;
    height: 16vw;
    border: 2px solid black;
    top: 36vh;
    left: 50vw;
  }

  .rectangle {
    width: 36vw;
    height: 42vh;
    background-color: blue;
    border: 2px solid black;
    top: 56vh;
    left: 20vw;
  }

  .letters {
    font-size: 26px;
    top: 60vh;
    left: 34vw;
  }
}
